@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary-color: #32e0c4;
  --secondary-color: #393e46;
  --color-3: #1cbba1;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --orange: rgb(250, 176, 94);
  --teal: rgb(108, 223, 204);
  --purple: #a383d2;  
  --green: rgb(143, 207, 160);
  --yellow: #fec24a;
  --red: #e35151;
  --blue: #b0e1e5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  background-color: transparent;
}
.navbar .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.navbar .navbar-items ul {
  margin: auto;
}

.navbar .navbar-items ul li {
  margin: 0px 30px;
}

.navbar .challenge {
  padding-right: 40px;
}

.navbar .challenge button {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(108, 223, 204);
  color: #fff;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

.challenge button a {
  color: inherit;
  text-decoration: none;
}

.challege button a:visited {
  color: #fff;
  text-decoration: none;
}

.navbar .challenge p {
  display: none;
  opacity: 0;
}

.navbar .nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-3);
  transition: width 0.4s;
}

.navbar .nav-item a:hover::after {
  width: 100%;
  transition: width 0.4s;
}

.navbar .challenge:hover p {
  position: absolute;
  right: 20px;
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

nav .learn-more {
  position: absolute;
  top: 600px;
  right: 40px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

nav .learn-more .learn-btn {
  background-color: transparent;
  border: none;
}

nav .learn-btn a {
  color: var(--primary-color);
  text-decoration: none;
}

nav .learn-btn span {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0px 5px 10px #808080;
}

nav .learn-btn span:hover {
  cursor: pointer;
  border: none;
  outline: none;
  text-shadow: 0px 5px 10px #000;
  transition: text-shadow .2s ease-in;
}

nav .learn-more p {
  font-size: 12px;
  font-weight: bold;
}
/* showcase */
.showcase {
  background: url("./img/img6.jpg") no-repeat center center/cover;
  height: 100vh;
}

.showcase .showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1.2;
  margin-top: 75px;
}

.showcase .showcase-container h1 {
  font-size: 4rem;
  margin-top: 250px;
}

.showcase .showcase-container h2 {
  font-size: 2.5rem;
}


/* testimonials */
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  height: 500px;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

/* carousel */
.carousel {
  height: 400px;
}

.carousel-item {
  height: 400px;
  padding: 30px;
}

.testimonials {
  padding: 30px;
  text-align: center;
  line-height: 1.75rem;
}

.testimonials h2 {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-3);
}

.testimonials .learn-btn {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-3);
  outline: none;
  border: none;
}

.testimonials .learn-btn:hover {
  background-color: var(--primary-color);
  text-decoration: none;
}

.testimonials .learn-btn a:visited {
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
}

/* products */
.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 10px 50px;
}

.products-container .products-text p a {
  color: var(--color-3);
}

.products-text {
  padding: 30px;
  text-align: center;
  line-height: 1.75rem;
}

.products-text h2 {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-3);
}

.products {
  text-align: center;
}

/* Join Us */
.join-header {
  text-align: center;
  margin: 50px auto;
  color: var(--color-3);
}
#slider {
  position: relative;
  width: 50%;
  height: 30vw;
  margin: 80px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}




#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  background-image: url(./img/join-us1.jpg);
  background-position: center;
  background-size: 470px;
  background-repeat: no-repeat;
  background-color: #b0e1e5;
}

#slide2 {
  background-image: url(./img/join-us2.jpg);
  background-position: center;
  background-size: 470px;
  background-repeat: no-repeat;
  background-color: #fec24a;
}

#slide3 {
  background-image: url(./img/join-us3.jpg);
  background-position: center;
  background-size: 470px;
  background-repeat: no-repeat;
  background-color: #e35151;
}

#slide4 {
  background-image: url(./img/join-us4.jpg);
  background-position: center;
  background-size: 470px;
  background-repeat: no-repeat;
  background-color: #a383d2;
}

#slide5 {
  background-image: url(./img/join-us5.jpg);
  background-position: center;
  background-size: 470px;
  background-repeat: no-repeat;
  background-color: var(--teal);
}


/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(15%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

.join-us .join-btn {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-3);
  outline: none;
  border: none;
}

.join-us .join-btn a {
  text-decoration: none;
}

.join-us .join-btn:hover {
  background-color: var(--primary-color);
  text-decoration: none;
}

.join-us .join-btn a:visited {
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
}

/* cards */
.community-card {
  background-color:#fff;
  margin: 100px 200px;
  padding: 100px;
  box-shadow: 0px 10px 30px #c1c1c1;
}

.community-top {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-top .card {
  position: relative;
  height: 300px;
  width: 500px;
  border: none;
}

.card {
  position: relative;
}

.card img {
  height: 100%;
}

.card img:hover {
  opacity: .8;
}

.card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid #fff;
}

.card .card-text a {
  text-decoration: none;
  color: #fff;
}

.card .card-text a:visited {
  text-decoration: none;
  color: #fff;
}

.card .card-text:hover {
  cursor: pointer;
}

.community-bottom {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-bottom .card {
  position: relative;
  height: 300px;
  width: 500px;
  border: none;
}

.community-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.community-center button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  color: var(--color-3);
  background-color: #fff;
  outline: none;
  border: 2px solid var(--color-3)
}

.community-center button:hover {
  background-color: var(--color-3);
  text-decoration: none;
  color: #fff;
}

.community-center button:visited {
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
}



/* footer */
footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}
footer .footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

footer .footer-social .community {
  width: 700px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .community h2 {
  color: #fff;
  font-size: 30px;
}

footer .footer-social .community i {
  border: 1.5px solid var(--secondary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

footer .footer-social .community i:hover {
  cursor: pointer;
  border: none;
  color: #fff;
}

footer .footer-social .email {
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .email h2 {
  color: #fff;
  font-size: 30px;
}

footer .footer-social .email input {
  width: 400px;
  height: 30px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

footer .footer-social .email .btn {
  width: 40px;
  height: 30px;
  background-color: #000;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-social .email .btn:hover {
  cursor: pointer;
}

/* footer contact */
footer .footer-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

footer .footer-contact .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

footer .footer-contact .contact-item a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer .footer-contact .contact-item h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

footer .footer-contact .contact-item a:hover {
  border-bottom: 1.5px solid var(--secondary-color);
  font-weight: bold;
}

/* copyright */
footer .copyright {
  text-align: center;
  margin: auto;
  padding: 15px;
}

footer .copyright h2 {
  font-size: 1rem;
}

/* email modal */
.email-modal-bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibilty 0.2s, opacity 0.5s;
  z-index: 100;
}

.email-modal-bg-active {
  visibility: visible;
  opacity: 1;
}

.email-modal {
  position: absolute;
  background-color: var(--secondary-color);
  top: 120vh;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
}

.email-modal-active {
  transform: translateY(-45vh);
}

.email-modal .email-form h1 {
  font-size: 20px;
  padding: 0px 10px;
  color: #fff;
  text-align: center;
}

.email-modal h1 span {
  color: var(--primary-color);
}
.email-modal p {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
}

.email-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.email-modal form input {
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  width: 500px;
  outline: none;
  background-color: var(--secondary-color);
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.email-modal form input::placeholder {
  color: #fff;
}

.email-modal form button {
  background-color: var(--color-3);
  color: #fff;
  width: 500px;
  padding: 10px;
  transition: background-color 0.5s;
  outline: none;
  border: none;
}

.email-modal form button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.email-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}


@media (max-width: 600px) {
  .showcase {
    background: url("./img/img6.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
  }
  
  .showcase .showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1;
    margin-top: 75px;
  }
  
  .showcase .showcase-container h1 {
    font-size: 2rem;
    margin-top: 450px;
  }
  
  .showcase .showcase-container h2 {
    font-size: 1.6rem;
  }
  
  .showcase .showcase-container button {
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-3);
  }
  
  /* cards */
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container .card {
    margin: 20px;
  }
}
