@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #32e0c4;
  --secondary-color: #393e46;
  --color-3: #1cbba1;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  background-color: transparent;
}
.navbar .navbar-brand {
  font-size: 36px;
  font-weight: bold;
  padding-left: 40px;
}
.navbar .navbar-items ul {
  margin: auto;
}

.navbar .navbar-items ul li {
  margin: 0px 30px;
}

.navbar .challenge {
  padding-right: 40px;
}

.navbar .challenge button {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-3);
  color: #fff;
  outline: none;
  padding: 5px;
}

.challenge button a {
  color: inherit;
  text-decoration: none;
}

.challege button a:visited {
  color: #fff;
  text-decoration: none;
}

.navbar .challenge p {
  display: none;
}

.navbar .nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-3);
  transition: width 0.4s;
}

.navbar .nav-item a:hover::after {
  width: 100%;
  transition: width 0.4s;
}

.navbar .challenge button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.navbar .challenge:hover p {
  position: absolute;
  right: 20px;
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

/* showcase */
.showcase {
  background: url("./img/img6.jpg") no-repeat center center/cover;
  height: 100vh;
}

.showcase .showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1.2;
  margin-top: 75px;
}

.showcase .showcase-container h1 {
  font-size: 4rem;
  margin-top: 250px;
}

.showcase .showcase-container h2 {
  font-size: 2.5rem;
}

.showcase .showcase-container button {
  height: 40px;
  width: 100px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-3);
}

.showcase .showcase-container button a {
  color: #fff;
  text-decoration: none;
}

.showcase .showcase-container button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

/* testimonials */
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

/* carousel */
.carousel {
  height: 400px;
}

.carousel-item {
  height: 400px;
  padding: 30px;
}

.testimonials {
  padding: 30px;
  text-align: center;
  line-height: 1.75rem;
}

.testimonials h2 {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-3);
}

/* products */
.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.products-container .products-text p a {
  color: var(--color-3);
}

.products-text {
  padding: 30px;
  text-align: center;
  line-height: 1.75rem;
}

.products-text h2 {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-3);
}

.products {
  text-align: center;
}

/* cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #f6f6f6; */
}

.card-container .card {
  margin: 50px 30px;
  border: 0;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.card-container .card img {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  height: 500px;
  margin: 50px 50px 0px;
}

.card-container .card p {
  width: 50%;
  margin: auto;
  text-align: center;
}

.card-container .card p {
  margin: 20px auto;
}

.card-container .card img:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* footer */
footer {
  background-color: #6d6d6d;
  display: flex;
  flex-direction: column;
}
footer .footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

footer .footer-social .community {
  width: 700px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .community h2 {
  color: #32e0c4;
  font-size: 30px;
}

footer .footer-social .community i {
  border: 1.5px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

footer .footer-social .community i:hover {
  cursor: pointer;
  border: none;
  color: #fff;
}

footer .footer-social .email {
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .email h2 {
  color: #32e0c4;
  font-size: 30px;
}

footer .footer-social .email input {
  width: 400px;
  height: 30px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

footer .footer-social .email .btn {
  width: 40px;
  height: 30px;
  background-color: #000;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-social .email .btn:hover {
  cursor: pointer;
}

/* footer contact */
footer .footer-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

footer .footer-contact .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

footer .footer-contact .contact-item a {
  color: var(--color-3);
  text-decoration: none;
}

footer .footer-contact .contact-item h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

footer .footer-contact .contact-item a:hover {
  border-bottom: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}

/* copyright */
footer .copyright {
  text-align: center;
  margin: auto;
  padding: 15px;
}

footer .copyright h2 {
  font-size: 1rem;
}

/* modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s;
}

.bg-active {
  opacity: 1;
  visibility: visible;
}

.modal-close {
  position: absolute;
  top: 190px;
  right: 470px;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 50%;
}

.modal-close:hover {
  cursor: pointer;
}

.modal-container .modal-form h2 {
  text-align: center;
  margin: 0 0 20px;
  color: var(--color-3);
}

p {
  text-align: center;
  margin: 0 0 20px;
}

.modal-form {
  padding: 30px 40px;
  height: 50%;
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
}

.formControl {
  padding-bottom: 20px;
  position: relative;
  border: none;
}

.formControl label {
  color: #000;
  display: block;
  margin: 20px 0px 5px 0px;
}

.formControl input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.formControl input:focus {
  outline: 0;
  border-color: #777;
}

.formControl.success input {
  border-color: var(--success-color);
}

.formControl.error input {
  border-color: var(--error-color);
}

.formControl small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.formControl.error small {
  visibility: visible;
}

.modal-form button {
  cursor: pointer;
  background-color: var(--color-3);
  border: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 600px) {
  .showcase {
    background: url("./img/img6.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
  }

  .showcase .showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1;
    margin-top: 75px;
  }

  .showcase .showcase-container h1 {
    font-size: 2rem;
    margin-top: 450px;
  }

  .showcase .showcase-container h2 {
    font-size: 1.6rem;
  }

  .showcase .showcase-container button {
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-3);
  }

  /* cards */
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container .card {
    margin: 20px;
  }
}
