@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #32e0c4;
  --secondary-color: #393e46;
  --color-3: #1cbba1;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

nav {
  width: 100%;
  background-color: #000;
}

.navbar {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 300px 0px 50px;
  color: #fff;
}

.navbar .nav-brand {
  font-weight: bold;
  font-size: 30px;
}

.navbar .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  font-size: 18px;
}

.navbar .nav-items a {
  text-decoration: none;
  color: #fff;
}

.navbar .nav-items a:hover {
  cursor: pointer;
}

.navbar .nav-items a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-3);
  transition: width 0.4s;
}

.navbar .nav-items a:hover::after {
  width: 100%;
  transition: width 0.4s;
}

/* showcase */
.showcase {
  background: url(../img/card3.jpg) no-repeat center center/cover;
  position: relative;
  top: 0;
  left: 0;
  height: 70vh;
}

.showcase .cover {
  position: relative;
  height: 70vh;
  width: 100%;
  background-color: #000;
  opacity: .4;
}

.performance-showcase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.performance-showcase h1 {
  font-size: 4.5rem;
  color: #fff;
  font-weight: lighter;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.performance-showcase p {
  color: #fff;
  font-size: 2rem;
  margin: 50px auto;
}

.performance-showcase .performance-btn {
  padding: 20px 100px;
  outline: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}

.showcase .performance-showcase .performance-btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
}


/* footer */
footer {
  background-color: #454545;
  display: flex;
  flex-direction: column;
}
footer .footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

footer .footer-social .community {
  width: 700px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .community h2 {
  color: var(--color-3);
  font-size: 30px;
}

footer .footer-social .community i {
  border: 1.5px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

footer .footer-social .community i:hover {
  cursor: pointer;
  border: none;
  color: #fff;
}

footer .footer-social .email {
  width: 600px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-social .email h2 {
  color: var(--color-3);
  font-size: 30px;
}

footer .footer-social .email input {
  width: 400px;
  height: 30px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

footer .footer-social .email .btn {
  width: 40px;
  height: 30px;
  background-color: #000;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-social .email .btn:hover {
  cursor: pointer;
}

/* footer contact */
footer .footer-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

footer .footer-contact .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

footer .footer-contact .contact-item a {
  color: var(--color-3);
  text-decoration: none;
}

footer .footer-contact .contact-item h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

footer .footer-contact .contact-item a:hover {
  border-bottom: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}

/* copyright */
footer .copyright {
  text-align: center;
  margin: auto;
  padding: 15px;
}

footer .copyright h2 {
  font-size: 1rem;
}
