@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  margin: 50px auto;
}

.welcome-video {
  padding: 100px;
}

.welcome-body {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.welcome-body h3 {
  padding: 50px 0px;
}

.welcome-body ul {
  line-height: 2.4rem;
  font-size: 1.5rem;
}

.welcome-body p {
  padding: 40px 0px;
  font-size: 1.3rem;
}
